/* ===============Author Tchitombi Kokolo Ivan Franck =======================================
All rights reserved  */
/* chargement des polices */
.courgette {
font-family: 'Courgette', cursive;
}
.permanent {
font-family: 'Permanent Marker', cursive;
}
.monda {
font-family: 'Monda', sans-serif;
}
.shadow{
font-family: 'Shadows Into Light', cursive;
}
.popin{
font-family: 'Poppins', sans-serif;
}
.felipe{
font-family: 'Felipa', cursive;
}
h1 {
font-size: 1.5em;
color: white;
transition-property: color, background-color;
transition-duration: 3s;
color: white;
/*background-color: blue;*/
width: 50%;
margin-left: auto;
margin-right: auto;
}
h1:hover {
{
color: black;
background-color: white;
}
@-webkit-keyframes monTitre {
from {
color: blue;
}
50% {
color: green;
}
to
{
color:red;
}
}
/*Pour les autre */
@keyframes monTitre
{
from  {
color: blue;
}
50%{color: green;
}
to {
color:red;
}
}
}
/*.cv{
position: absolute;
font-size:1.2em;
background-color: lightgray;
right:0px;
top:0px;
border:1px solid black;
border-radius:10px;
}*/
.cv{
/*font-family: 'Permanent Marker', cursive;*/
font-family: 'Courgette', cursive;
}
a{
color:white;
}
.name  {/* border:dotted; */
margin-right: 1050px;
display: inline-block;
}
.permanent {
float: left;
color:white;
font-size: 1.3em;
margin-right:1980px;
margin-left:50px;
width:2000px;
height:0px;
}
.midphrase {
margin-top: 30px;
position:absolute;
top:20px;
left:25%;
}
.lien {
display: inline-block;
float: right;
top:0px;
padding-left: 20px;
font-size:1.5em;
right: 10px;
}
.menu {
position:absolute;
right:5px;
top:0px;
}
h2 {
text-align: center;
margin-top: 50px;
font-size:3em;  /* 3em en ligne  */
color: white;
}
h2.titre{
text-align: left;
}
.bonjour {
text-align: center;
/*font-family: 'Shadows Into Light', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Felipa', cursive;*/
font-size: 5.7em;  /* 5.7em  */
font-family: 'Courgette', cursive;
}
.b{
font-size:1.1em;
}
/* ma photo */
/*.photo {
float: left;
margin-left: 9px;
margin-top: 60px;
border: 4px solid rgb(194, 186, 186);
border-radius: 15px;
box-shadow: 10em;
width: 100px;
height: 100px;
/*background: red;*/
/*-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */*/
/*transition: width 2s, height 2s, transform 2s;*/*/
/*}*/
/* gestion des transitionss */
/*.photo:hover {
width: 300px;
height: 300px;
-webkit-transform: rotate(360deg); /* Safari */
/*transform: rotate(360deg);*/
}*/
.menu {
position: relative;
position: top;
float: right;
margin-bottom: 56px;
}
/* faire la difference entre html et une classe/  html et body */
/* html, .imagedefond   */
body {
margin: 0;
padding: 0;
background: url(../img/ordi2.jpg) no-repeat center fixed;
-webkit-background-size: cover; /* pour anciens Chrome et Safari */
background-size: cover; /* version standardisée */
}
img{
height:430px;
border-radius:15px;
margin-left:1px;
border-top:20px;
}
.photo{
margin-top:35px;
}
.position {
margin-left: 650px;
margin-top: 90px;
}
.accueil{
display: inline-block;
}
.citation{
float:right;
color:white;
font-family: 'Permanent Marker', cursive;
text-align:center;
font-size: 1.2em;
}
.bill{
text-decoration: underline;
font-size:1.3em;
}
====================================page 2 about me ============================
.outils{
border:1px solid white ;
border-radius:10px;
border-width: 5px;
box-shadow: 10px;
text-align: justify;
color: white;
}